<div>
  <% @blogs.each do |blog| %>
    <div class="list-jumbotron">
      <h3><%= blog.title %></h3>
      <p><%= blog.description %></p>
      <br/>
      <div>
        <%= link_to 'Read', blog_path(blog) %> |
        <%= link_to 'Edit', edit_blog_path(blog) %> |
        <%= link_to 'Delete', blog_path(blog), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>


