<h1 class="center">Cat-egorically Blogging</h1>
<h2 class="center">All Bloggers:</h2>
<div align="center">
  <%= will_paginate %>
</div>
<div>
  <% @users.each do |user| %>
    <div class="styles border blogs-jumbotron">
      <h3><%= link_to user.username, user_path(user), class: "user_link" %></h3>
      <p><%= pluralize(user.posts.count, "post") %></p>
      <% if user.posts.size > 0 %>
        <div class="last-post post-meta-details">
      	   <small>Last post written <%= time_ago_in_words(user.posts.last.created_at) %> ago</small>
        </div>
      	<br/>
      <% end %>
      <% if logged_in? and current_user.admin? %>
        <div>
          <%= link_to "[Delete User]", user_path(user), class: "delete-user", method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>         
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div align="center">
  <%= will_paginate %>
</div>