<h1>Bloggy Blogs</h1>
<hr>
<%= link_to image_tag('home.svg', width: '40'), root_path %>
<%= link_to image_tag('about.svg', width: '40'), about_path %>
<%= link_to image_tag('new.png', width: '40'), controller: "blogs", action: "new" %>
<hr>
<br/>
<h2>Bloggy Blogs Home</h2>

<ul>
  <% @blogs.each do |blog| %>
    <li>
      <div>Blog <%= blog.id %></div>
      <div><%= blog.title %></div>
      <div><%= blog.description %></div>
    </li>
  <% end %>
</ul>


