<h1 class="center"><%= @post.title %></h1>
<h2 class="center"><%= truncate(@post.description, length: 50) %></h2>

<div class="border show-jumbotron">
  <p><%= simple_format(@post.body) %></p>
  <br/>
  <div class="center"><%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-default btn-lg"%></div>
  <br/>
  <%= render 'back' %>
</div>


