<h1 class="center"><%= @post.title %></h1>
<h2 class="center"><%= @post.description %></h2>
<br/><br/>
<div class="styles border show-jumbotron">
  <p><%= simple_format(@post.body) %></p>
  <br/>
  <% if logged_in? && (current_user == @post.user || current_user.admin?) %>
	  <div class="center">
	  	<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default btn-sm"%>
	  	<%= link_to 'Delete', post_path(@post), method: :delete, 
	  		class: "btn btn-danger btn-sm",
	  		data: {confirm: "Are you sure you want to delete this post?"} %>
	  </div>
	 <% end %>
  <br/>
  <div>
  	<%= link_to '[ Back ]', user_path(@post.user_id), class: "back_link" %>
  </div>
</div>


